@model EditQuizVM

@{
    ViewData["Title"] = "EditQuiz";
}

<h3>Edit @Model.Name</h3>

<h4>EditQuizVM</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditQuiz">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <br />
            @Html.DropDownListFor(model => model.ThemeId, (SelectList)ViewData["ThemeId"], "Select a theme", new { @class = "form-control" })
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

