@font-face {
    font-family: 'freckleface-regular';
    src: url('../assets/fonts/freckleface-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'notosansjp-regular';
    src: url('../assets/fonts/notosansjp-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../assets/fonts/poppins-regular.ttf') format('truetype');
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.poppins {
    font-family: 'poppins-regular' !important;
}

.noto {
    font-family: 'notosansjp-regular' !important;
}

.freckleface {
    font-family: 'freckleface-regular' !important;
}
