@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5">
    <div class="row align-items-center text-center">
        <div class="col-md-6 pb-3 pb-md-0">
            <style>
                .rounded-25 {
                    border-radius: 15%;
                }
            </style>
            <img src="~/Assets/Images/fingerpointing_astronaut.jpg" class="img-fluid rounded-25" />
        </div>
        <div class="col-md-6 freckleface">
            <h1 class="display-1">Welcome to MNS Games!</h1>
                <button type="button" class="btn btn-primary">
                    <span class="text-bg-secondary display-6">Join a game!</span>
                </button>
                <button type="button" class="btn btn-warning">
                    <span class="text-bg-secondary display-6">Create a Quiz!</span>
                </button>
        </div>
    </div>
</div>