@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center">
    <div class="col">
        <img src="~/Assets/Images/fingerpointing_astronaut.jpg" class="img-fluid rounded"/>
    </div>
    <div class="col">
        <h1 class="display-4 freckleface">Welcome</h1>
    </div>
</div>