@model EditQuizVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="ThemeId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="ThemeId">Select a theme</label>
                <select class="form-control" id="ThemeIdDropdown" asp-for="ThemeId" asp-items="ViewBag.ThemeId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-warning m-1" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


<script>
    // Get a reference to the dropdown element
    const themeIdDropdown = document.getElementById('ThemeIdDropdown');

    // Attach an event listener to the dropdown's change event
    themeIdDropdown.addEventListener('change', function () {
        // Get the selected option's value
        const selectedThemeId = parseInt(this.value);

        // Update the hidden input's value to the selected theme ID
        document.querySelector('input[name="ThemeId"]').value = selectedThemeId;
    });
</script>